@import "tailwindcss";
@theme{
    --breakpoint-xs:460px;

    
  --animate-scroll: scroll 15s linear infinite;
  --animation-float: "float 3s ease-in-out infinite";
      

  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-50% - 20px));
      
    }
  }
  @keyframes float {
    0%, 100% {transform:translateY(0px);}

    50% {
        transform : translateY(-120px);

    }
  }
}

